body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #E5EAFA;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

h1 {
  color: #6A75CA;
}

.top-interns {
  margin-bottom: 20px;
}

.intern-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.intern-card {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 10px 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.avatar {
  text-align: center;
  margin-bottom: 10px;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.intern-info {
  text-align: center;
}

.intern-info h3 {
  margin-bottom: 5px;
}

.interns-table {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: center;
}

th {
  background-color: #6A75CA;
  color: #FFF;
}

tbody tr:nth-child(even) {
  background-color: #FFF; 
}

tbody tr:nth-child(odd) {
  background-color: #E5EAFA;
}

.avatar-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 12px;
}

.btns {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.btn {
  padding: 8px 16px;
  border-radius: 80px;
  border: 1px solid #6A75CA;
  background-color: #E5EAFA;
}

.btn-main, .btn:hover {
  background-color: #6A75CA;
  color: white;
}

.btn:hover {
  background-color: #6A75CA;
  color: white;
}

.btn-main:hover {
  padding: 8px 16px;
  border-radius: 80px;
  border: 1px solid #6A75CA;
  background-color: #E5EAFA;
  color: black;
}